<div class="col-md-6 col-md-offset-3">
  <h1><%= @post.title %></h1>
  <p><%= @post.content %></p>
  <p><%= image_tag @post.image unless @post.image.blank?%></p>
  <p> posted by <%= @post.user.email %></p>

  <% if current_user == @post.user  %>
  <%= link_to "Edit", edit_post_path(@post), class: 'btn btn-default' %>
  <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-default' %>
  <% end %>
  <%= link_to "Back", root_path, class: 'btn btn-default' %>

  <h2>Comments</h2>
  <%= render @post.comments %>

  <h3>Add Comments</h3>
  <%= render "comments/form" %>
</div>
